* {
  margin: 0;
  padding: 0;
}

#root {
  --color-cream: hsl(30, 38%, 92%);
  --color-dark-cyan: hsl(158, 36%, 37%);
  --color-dark-grayish-blue: hsl(228, 12%, 48%);
  --color-very-dark-blue: hsl(212, 21%, 14%);
  --color-white: hsl(0, 0%, 100%);

  --font-family-title: "Montserrat", sans-serif;
  --font-family-text: "Fraunces", serif;
}

.container {
  background: var(--color-cream);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  height: 440px;
  width: 600px;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

.card-text {
  color: var(--color-dark-grayish-blue);
  font-family: var(--font-family-title);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 10px;
}

.card-title {
  color: var(--color-very-dark-blue);
  font-family: var(--font-family-text);
  line-height: 30px;
}

.p-text {
  color: var(--color-dark-grayish-blue);
  font-family: var(--font-family-title);
  font-size: 14px;
  line-height: 1.8;
}

.card__value-price {
  color: var(--color-dark-cyan);
  font-family: var(--font-family-text);
  font-size: 30px;
}

.card__value-previousPrice {
  color: var(--color-dark-grayish-blue);
  font-family: var(--font-family-title);
  font-size: 13px;
  text-decoration: line-through;
}

.card__value {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card__image {
  width: 50%;
}

.card-image {
  //   border-radius: 8px 0px 0px 8px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card__info {
  background: var(--color-white);
  //   border-radius: 0 8px 8px 0;
  width: 50%;
}

.card__info-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 30px;
}

.card__buttom {
  align-items: center;
  background: var(--color-dark-cyan);
  border-color: transparent;
  border-radius: 8px;
  color: var(--color-white);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-title);
  font-size: 12px;
  font-weight: 700;
  gap: 10px;
  height: 40px;
  justify-content: center;
  width: 100%;

  &:hover {
    background: #184131;
  }
}
